{% extends "/public/main.html.twig" %}

{% block content %}
<div class="project text-justify">
    <div class="">
        <h3 class="text-secondary">
            Mes expériences
        </h3>
        <div class="mt-3">
            <h5>Webo-Facto</h5>
            <div class="exp-card">

                <p class="fw-light">
                    J'ai travaillé pendant deux années sur une plateforme de création, de gestion et d'hébergement de sites web. <br>
                    C'était l'expérience idéale pour débuter ma carrière en tant que développeur web car elle m'a permis de découvrir
                    tout ce qui se passe derrière l'interface graphique quand les utilisateurs y naviguent.
                </p>
    
                <div class="fw-light">
                    <ul>
                        <li>
                            Moyens de paiement
                        </li>
                        <li>
                            Référencement
                        </li>
                        <li>
                            Maintenance et améliorations continues.
                        </li>
                        <li>
                            Scripts bash, Apache, Système Linux
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="mt-5">
            <h5>Spoon Consulting</h5>
            <div class="exp-card">
                <p class="fw-light">
                    Après une expérience très enrichissante techniquement, je suis passée à une tout autre aventure . . . les ERPs
                </p>
    
                <div class="">
                    <h6 class="">
                        Oracle ebs/fusion (ERP)
                    </h6>
                    <ul class="fw-light">
                        <li>
                            Reprise de données.
                        </li>
                        <li>
                            Extraction de données.
                        </li>
                    </ul>
                </div>
    
                <div class="">
                    <h6>
                        Infor M3 (ERP)
                    </h6>
                    <ul class="fw-light">
                        <li>
                            Développement de solutions techniques spécifiques répondant aux besoins du client
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <h3 class="text-secondary">
            Mes réalisations
        </h3>
        <div class="d-flex mt-3">
            <div class="project-card">
                <a href="#" class="text-reset text-decoration-none" target="_blank">
                    <h6 class="fw-bold">TOA Transport</h6>
                    <span class="">Digitalisation d'expédition de colis</span>
                    <div class="">
                        <ul>
                            <li>Suivi des colis</li>
                            <li>Notifications pour les utilisateurs</li>
                            <li>Calcule automatique des frais d'expédition</li>
                        </ul>
                    </div>
                </a>
            </div>
            <div class="project-card">
                <a href="https://app.edu-caps.com" class="text-reset text-decoration-none" target="_blank">
                    <h6 class="fw-bold">EduCaps</h6>
                    <span class="">Solution SaaS de gestion d'établissement scolaire.</span>
                    <div class="">
                        <ul>
                            <li>Suivi des performances des étudiants</li>
                            <li>Gestions des règlements intrieurs ainsi que des infractions</li>
                            <li>Suivi des programmes scolaires</li>
                            <li class="">etc...</li>
                        </ul>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}